*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  color: #444;
  font-family: "나눔고딕", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
a{
  text-decoration: none;
  color: inherit;
}
.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}